[submodule "extern/Catch2"]
	path = extern/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "eigen5"]
	path = test/extern/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "test/nanobench"]
	path = test/extern/nanobench
	url = https://github.com/martinus/nanobench.git
